<div class="container my-5">
    <h1 class="mb-3">Edit Employee</h1>
    <div class="row">
        <div class="col-6"></div>
    </div>
        <form #form="ngForm" (ngSubmit)="updateEmployee()">
            <div class="mb-3">
                <label for="id" class="form-label">Id</label>
                <input type="text" class="form-control" id="id" readonly
                name="id" [(ngModel)]=" employeeDetails.id">
              </div>
            <div class="mb-3">
              <label for="name" class="form-label">First name</label>
              <input type="text" class="form-control" id="name" 
              name="name" [(ngModel)]=" employeeDetails.firstname">
            </div>
            <div class="mb-3">
                <label for="lastname" class="form-label">Last name</label>
                <input type="text" class="form-control" id="lastname" 
                name="lastname" [(ngModel)]="employeeDetails.lastname">
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">Address</label>
                <input type="text" class="form-control" id="address" 
                name="address" [(ngModel)]="employeeDetails.address">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email"
                name="email" [(ngModel)]=" employeeDetails.email">
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Phone</label>
                <input type="text" class="form-control" id="phone"
                name="phone" [(ngModel)]=" employeeDetails.phone">
            </div> 
            <div class="mb-3">
                <label for="birthday" class="form-label">Birthday</label>
                <input type="text" class="form-control" id="birthday"
                name="birthday" [(ngModel)]="employeeDetails.birthday">
            </div>

            <div class="mb-3">
                <label for="department" class="form-label">Department</label>
                <input type="text" class="form-control" id="department"
                name="department" [(ngModel)]=" employeeDetails.department">
            </div>

            <button type="submit" class="btn btn-primary">Update</button>
            <button type="button" class="btn btn-danger" (click)="deleteEmployee(employeeDetails.id)">Delete</button>
          </form>
</div>
